.MyTeamCards__Wrapper {
  margin: auto;
}

.MyTeamCards__Cards {
  display: flex;
  border: 1px solid black;
  align-items: center;
}

.MyTeamCards__Img {
  border-right: 1px solid black;
  margin-right: 10px;
}

.MyTeamCards__Text {
  font-size: 50px;
}
